@import "../../../assets/css/normalizer";
@import "../../../assets/css/variables_&_mixins";
.app-header {
  @include blockCenter;
  margin: 0 10%;
  height: 204px;
  &-logo {
    @include spaceBetween;
    min-width: 368px;
    max-height: 93px;
    &__image {
      width: 90px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
    }
    &__headline {
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
    }
    &__text {
      font-weight: bold;
    }
  }
  .app-nav {
    @include spaceBetween;
    width: 100%;
    &__info {
      max-width: 676px;
      width: 100%;
      @include displayColumn;
      align-items: flex-end;
    }
    &__menu {
      @include spaceBetween;
      width: 100%;
      max-width: 678px;
      &-item {
         color: $textBlack;
        font-size: 20px;
        @media all and (max-width: 1100px) {
         font-size: 16px;
        }
        &_active {
          color: $textBlue;
        }
        &:hover {
          color: $textBlue;
        }
      }
    }

    &__numbers {
      width: 100%;
      max-width: 485px;
      @include spaceBetween;
      margin-bottom: 38px;
      @media all and (max-width: 1100px) {
       flex-direction:column;
        align-items:flex-end;
        margin-bottom: 2px;
      }
      &__item {
        &-image {
          width: 12px;
          margin-right: 4px;
        }
        &:hover {
          color: $textBlue;
        }
      }
    }

  }
}
