// Variables
$textBlue:#005bbb;
$textBlack: #000000;


@mixin displayColumn {
  display: flex;
  flex-direction: column;
}
@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin blockCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

