<!--<p>map works!</p>-->
<iframe class="app-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.785803181198!2d24.04094011570833!3d49.8088944793921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae805fb85230b%3A0xc552c7c46dc7ad2f!2z0LLRg9C70LjRhtGPINCb0YPQs9Cw0L3RgdGM0LrQsCwgMTgsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1586780123275!5m2!1suk!2sua"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
