@import "../../../assets/css/normalizer";
@import "../../../assets/css/variables_&_mixins";
@import "../../components/header/header.component";
.app-footer {
  margin: 0 10%;
  &-logo {
    @include spaceBetween;
    max-width: 368px;
    &__image {
      width: 90px;
    }
    &__info {
      @include  displayColumn;
      justify-content: center;
      margin-left: 20px;
    }
    &__headline {
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
    }
    &__text {
      font-weight: bold;
    }

  }

  .app-nav__menu {

    padding:  32px 0;
    &-item {
      color: $textBlack;
      &:hover {
        color: $textBlue;
      }
    }

    &_footer {
      max-width: 544px;
      @include spaceBetween;
    }

  }



  &__content {
    @include spaceBetween;
    &-description {
     max-width: 450px;
     padding-right: 16px;

      &__item {
        padding-bottom: 18px;
      }
    }

    &-address {
      max-width: 150px;
      &__item {
        padding-bottom: 18px;
        &:hover {
          color:$textBlue;
        }
        &-image {
          width: 12px;
          margin-right: 4px;
        }
      }
    }

    &-contacts {
      max-width:158px;
      &__item {
        display: inline-block;
       padding-bottom: 18px;
        &-image {
          width: 12px;
          margin-right: 4px;
          margin-top: 3px;
          vertical-align: top;
        }
      }
    }

    &-hours {
      max-width: 166px;
      &__item {
        display: inline-block;
        padding-bottom: 18px;
        &-image {
          width: 12px;
          margin-right: 4px;
        }
      }
    }
  }

  &__rights {
    display: inline-block;
    padding-bottom: 34px;
    padding-top: 16px;
    font-size: 12px;
    &-link {
      color: $textBlue;
    }
  }

}




