@font-face {
  font-family: 'Adobe Clean';
  src: url('src/assets/fonts/AdobeClean-Regular.eot');
  src: local('AdobeClean-Regular'),
  url('src/assets/fonts/AdobeClean-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/AdobeClean-Regular.woff2') format('woff2'),
  url('src/assets/fonts/AdobeClean-Regular.woff') format('woff'),
  url('src/assets/fonts/AdobeClean-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('src/assets/fonts/AdobeClean-Bold.eot');
  src: local('src/assets/fonts/AdobeClean-Bold'),
  url('src/assets/fonts/AdobeClean-Bold.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/AdobeClean-Bold.woff2') format('woff2'),
  url('src/assets/fonts/AdobeClean-Bold.woff') format('woff'),
  url('src/assets/fonts/AdobeClean-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('src/assets/fonts/Raleway-Bold.eot');
  src: local('src/assets/fonts/Raleway Bold'), local('Raleway-Bold'),
  url('src/assets/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('src/assets/fonts/Raleway-Bold.woff2') format('woff2'),
  url('src/assets/fonts/Raleway-Bold.woff') format('woff'),
  url('src/assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
